<div class="container-fluid">
    <div class="row">
        <div class="col-col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row">
                <div class="col-col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <table class="table table-striped">
                        <thead>
                            <tr>

                                <th scope="col">API</th>
                                <th scope="col">Description </th>
                                <th scope="col">Auth</th>
                                <th scope="col">HTTPS</th>
                                <th scope="col">Cors </th>
                                <th scope="col">Link</th>
                                <th scope="col">Category</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let i of Publicdata.entries">
                                <td>{{i.API}}</td>
                                <td>{{i.Description}}</td>
                                <td>{{i.Auth}}</td>
                                <td>{{i.HTTPS}}</td>
                                <td>{{i.Cors}}</td>
                                <td><a target="_blank" href="{{i.Link}}">click here</a></td>
                                <td>{{i.Category}}</td>
                        </tbody>
                    </table>
                  
                </div>
            </div>
        </div>
    </div>
</div>
